<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="ismath" class="com.tns.dependencyInjection.Student">
	 <property name="sid" value="12"/>
	 <property name="sname" value="ismath"/>
	 <property name="city" value="Puducherry"/>
</bean>

<bean id="harini" class="com.tns.dependencyInjection.Student">
	 <property name="sid" value="13"/>
	 <property name="sname" value="harini"/>
	 <property name="city" value="chennai"/>
</bean>

<bean id="madhu" class="com.tns.dependencyInjection.Student1">
	 <constructor-arg name="sid" value="14"/>
	 <constructor-arg name="sname" value="madhu"/>
	 <constructor-arg name="city" value="Chennai"/>
</bean>

<bean id="hema" class="com.tns.dependencyInjection.Student1">
	 <constructor-arg name="sid" value="15"/>
	 <constructor-arg name="sname" value="Hema"/>
	 <constructor-arg name="city" value="Chennai"/>
</bean>




</beans>